html,
body {
  width: 100%;
  height: 100%; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif; }

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #F78000; }

hr.light {
  border-color: white; }

hr.invert {
  border-color: #087fff; }

a {
  color: #F78000;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
  a:hover, a:focus {
    color: #f68000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-white {
  background-color: #FFF !important;
  z-index: 10;
  color: #000 !important; }

.bg-primary {
  background-color: #F78000 !important; }

.bg-dark {
  color: white;
  background-color: #222222 !important;
  z-index: 10; }

.bg-blue {
  color: white;
  background-color: #222222 !important;
  z-index: 10; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

.section-heading {
  margin-top: 0; }

.no-padding {
  padding: 0; }

::-moz-selection {
  color: white;
  background: #626373;
  text-shadow: none; }

::selection {
  color: white;
  background: #626373;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #626373; }

.parallax {
  background: #222; }

#mainNav {
  border-color: rgba(98, 99, 115, 0.05);
  background-color: rgba(98, 99, 115, 0.65);
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #f68000; }
    #mainNav .navbar-brand img {
      max-height: 45px; }
  #mainNav .navbar-toggler {
    margin-top: 5px; }
  #mainNav .navbar-nav > li.nav-item {
    padding: 0 5px; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      color: #FFF; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #F78000;
        cursor: pointer; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
        color: #F78000 !important;
        background-color: transparent; }
        #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
          background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3); }
      #mainNav .navbar-brand {
        color: #FFF; }
        #mainNav .navbar-brand img {
          max-height: 60px; }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: #626373; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: #FFF; }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: rgba(255, 255, 255, 0.7); }
      #mainNav.navbar-shrink {
        border-color: rgba(98, 99, 115, 0.05);
        background-color: #626373; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #FFF; }
          #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
            color: #f68000; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #FFF; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #f68000; } }

.navbar {
  overflow: hidden; }

.collapse {
  display: block !important; }

.navbar-toggler {
  z-index: 1; }

@media (max-width: 576px) {
  nav > .container {
    width: 100%; } }

header.masthead {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white; }
  header.masthead .background__layer {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh; }
  header.masthead .parallax__layer--deepest {
    background-image: url("../img/deepest.svg"); }
  header.masthead .parallax__layer--deeper {
    background-image: url("../img/deeper.svg"); }
  header.masthead .parallax__layer--deep {
    background-image: url("../img/deep.svg"); }
  header.masthead .parallax__layer--back {
    background-image: url("../img/back.svg"); }
  header.masthead .parallax__layer--base {
    background-image: url("../img/base.svg"); }
  header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 100px;
    text-align: center; }
    header.masthead .header-content .header-content-inner {
      margin-top: 25%; }
      header.masthead .header-content .header-content-inner h1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase; }
        header.masthead .header-content .header-content-inner h1 h2 {
          margin-top: 15px; }
      header.masthead .header-content .header-content-inner hr {
        margin: 30px auto; }
      header.masthead .header-content .header-content-inner p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 50px;
        color: rgba(255, 255, 255, 0.7); }
      header.masthead .header-content .header-content-inner a {
        margin-top: 20px; }
  @media (min-width: 768px) {
    header.masthead {
      height: 100%;
      min-height: 100vh; }
      header.masthead .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto;
          margin-top: 0; }
          header.masthead .header-content .header-content-inner h1 {
            font-size: 50px; }
          header.masthead .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-right: auto;
            margin-left: auto; } }

#venue {
  background-image: url(../img/lecture-hall-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.google-maps {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .google-maps {
      padding-bottom: 40%; } }

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

#confirmed-speakers {
  padding-left: 0; }
  #confirmed-speakers li {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 280px;
    overflow: hidden; }
    #confirmed-speakers li > img {
      margin-bottom: 8px;
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      filter: gray;
      -webkit-filter: grayscale(100%);
      transition: all .333s ease; }
      #confirmed-speakers li > img:hover {
        filter: none;
        -webkit-filter: grayscale(0%); }
    #confirmed-speakers li .name {
      font-weight: bold;
      display: block; }
    #confirmed-speakers li .role {
      display: block;
      font-size: 0.9em;
      margin-bottom: 2px; }
    #confirmed-speakers li .more {
      font-weight: bold;
      font-size: 0.8em; }

.chainsmiths {
  display: inline-block;
  max-width: 80%; }
  .chainsmiths img {
    max-width: 80%; }

@font-face {
  font-family: "Source Code Pro";
  font-style: ttf otf;
  font-weight: regular;
  src: url("../fonts/SourceCodePro-Regular.eot?") format("eot"), url("../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../fonts/SourceCodePro-Regular.woff") format("woff"), url("../fonts/SourceCodePro-Regular.ttf") format("truetype"), url("../fonts/SourceCodePro-Regular.svg#Source_Code_Pro") format("svg"); }

@font-face {
  font-family: "Source Code Pro";
  font-style: ttf otf;
  font-weight: bold;
  src: url("../fonts/SourceCodePro-Bold.eot?") format("eot"), url("../fonts/SourceCodePro-Bold.woff2") format("woff2"), url("../fonts/SourceCodePro-Bold.woff") format("woff"), url("../fonts/SourceCodePro-Bold.ttf") format("truetype"), url("../fonts/SourceCodePro-Bold.svg#Source_Code_Pro") format("svg"); }

.code {
  font-family: "Source Code Pro", serif;
  padding: 5px 10px;
  color: white;
  text-decoration: none; }
  .code.color-1 {
    background-color: #F78000; }
    .code.color-1:hover {
      background-color: tint(#F78000, 10%);
      text-decoration: none; }
  .code.color-2 {
    background-color: #FECC00; }

.domain {
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: inline-block;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .domain {
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translate(0, -50%); } }

.nounderline {
  text-decoration: none !important; }

.footer-bottom {
  background-color: shade(#626373, 10%) !important;
  min-height: 30px;
  width: 100%; }

.copyright {
  color: #ddd;
  line-height: 30px;
  min-height: 30px;
  padding: 7px 0;
  text-align: center; }

.text-primary {
  color: #F78000 !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #626373 !important;
  border-color: white;
  background-color: white; }
  .btn-default:focus, .btn-default.focus {
    color: #626373;
    border-color: #bfbfbf;
    background-color: #e6e6e6; }
  .btn-default:hover {
    color: #626373;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: #626373;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
    .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus,
    .open > .btn-default.dropdown-toggle:hover,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle.focus {
      color: #626373;
      border-color: #bfbfbf;
      background-color: #d4d4d4; }
  .btn-default:active, .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus,
  fieldset[disabled] .btn-default:hover,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default.focus {
    border-color: white;
    background-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #626373; }

.btn-primary {
  color: white !important;
  border-color: #F78000;
  background-color: #F78000; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    border-color: #783e00;
    background-color: #c46600; }
  .btn-primary:hover {
    color: white;
    border-color: #ba6000;
    background-color: #c46600; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #ba6000;
    background-color: #c46600; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: white;
      border-color: #783e00;
      background-color: #a05300; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    border-color: #F78000;
    background-color: #F78000; }
  .btn-primary .badge {
    color: #F78000;
    background-color: white; }

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif; }

.btn-xl {
  padding: 15px 30px; }

@-moz-document url-prefix() {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  body {
    overflow: auto;
    perspective: 1px;
    transform-style: preserve-3d; }
    body, body * {
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d; } }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__group {
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; }

section {
  position: relative;
  z-index: 100; }

.parallax__layer--base {
  transform: translateZ(0px) scale(1);
  z-index: 0;
  z-index: -1; }

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  z-index: -1000;
  z-index: -1; }

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
  z-index: -2000;
  z-index: -1; }

.parallax__layer--deeper {
  transform: translateZ(-3px) scale(4);
  z-index: -3000;
  z-index: -1; }

.parallax__layer--deepest {
  transform: translateZ(-4px) scale(5);
  z-index: -4000;
  z-index: -1; }

.parallax {
  perspective-origin-x: 100%; }

.parallax__layer {
  transform-origin-x: 100%; }
