#sponsors
{
}

.chainsmiths {
  display: inline-block;
  max-width: 80%;
  img {
    max-width: 80%;
  }

}

.bhb-network{

    max-width: 40%;
    padding-top: 14%;
}

.breaking-bitcoin{
  max-width: 30%;
  padding-top: 15%;

}
.separator {
  margin-bottom:20px;
}
.padding-top {
  padding-top:40px;
}
