.tito-tickets-button {
  color: white !important;
  border-color: #F78000;
  background-color: #F78000;
  padding : 15px 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
  cursor:pointer;
}